<reference path="Scripts/angular.js" />
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>TypeScr</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="Scripts/angular.js">
    </script>
    <script type="text/javascript" src="Scripts/angular-animate.js">
    </script>
    <script type="text/javascript" src="Scripts/angular-sanitize.js">
    </script>
    <script src="http://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script type="text/javascript" src="TypeScr.js">
    </script>
    <link href="Scripts\bootstrap-3.3.7\css" rel="stylesheet">

    <link rel="stylesheet" href="TypeScr.css">
</head>
<body ng-app="TypeScr">
    <div>

    </div>
    <div ng-controller="ContactUsWrapperCtrl  as $ctrl" style="float:'right';">
        <button class="dropbtn" ng-click="$ctrl.open('lg')">Contact US</button>
    </div>
    <div class="topnav" id="myTopnav">

        <div class="dropdown" style="float:left;">
            <button class="dropbtn" ng-mouseenter="homeoption=true" ui-sref="home">Home</button>
            <div class="dropdown-content" ng-show="homeoption" ng-mouseleave="homeoption=false" >
                <ul>
                    <li>
                        <a href="#">Link 1</a>
                    </li>
                    <li>
                        <a href="#">Link 2</a>
                    </li>
                    <li>
                        <a href="#">Link 3</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="dropdown" style="float:left;">
            <button class="dropbtn" ng-mouseenter="Productsoption=true" ng-mouseleave="Productsoption=false">Products</button>
            <div class="dropdown-content" ng-show="Productsoption">
                <ul>
                    <li>
                        <a href="#">Products 1</a>
                    </li>
                    <li>
                        <a href="#">Products 2</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="dropdown" style="float:left;">
            <button class="dropbtn" ng-mouseenter="Newsoption=true" ng-mouseleave="Newsoption=false">News</button>
            <div class="dropdown-content" ng-show="Newsoption">
                <ul>
                    <li>
                        <a href="#">News 1</a>
                    </li>
                    <li>
                        <a href="#">News 2</a>
                    </li>

                </ul>
            </div>
        </div>


        <div class="dropdown" style="float:left;" >
            <button class="dropbtn" ng-click="$ctrl.open('lg')">Contact</button>
            <div class="dropdown-content" ng-show="Contactoption">
                <ul>
                    <li>
                        <a href="#">Contact 1</a>
                    </li>
                    <li>
                        <a href="#">Contact 2</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="dropdown" style="float:left;">
            <button class="dropbtn" ng-mouseenter="Aboutoption=true" ng-mouseleave="Aboutoption=false" ui-sref="about">About</button>
            <div class="dropdown-content" ng-show="Aboutoption">
                <ul>
                    <li>
                        <a href="#">About 1</a>
                    </li>
                    <li>
                        <a href="#">About 2</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="dropdown" style="float:left;">
            <button class="dropbtn" ng-mouseenter="Careeroption=true" ng-mouseleave="Careeroption=false">Career</button>
            <div class="dropdown-content" ng-show="Careeroption">
                <ul>
                    <li>
                        <a href="#">Career 1</a>
                    </li>
                    <li>
                        <a href="#">Career 2</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <div class="container">
        <div ui-view></div>
    </div>
    <script type="text/ng-template" id="ContactUS.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Contact US</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>


    <script type="text/ng-template" id="partial-home.html">
        <div class="jumbotron text-center">
            <h1>Company Overview</h1>
            <p>This page demonstrates <span class="text-danger">nested</span> views.</p>
            <p>
                As a company, and as individuals, we value integrity, honesty,
                openness, personal excellence, constructive self-criticism, continual self-improvement,
                and mutual respect. We are committed to our customers and partners and have a passion
                for technology. We cater to the companies needing expertise in Web Applications,
                ERP, Business Intelligence and Data Management areas. We bring many years of IT
                experience in various industries be it Automotive, Softwares or other.

            </p>
            <p>
                Injunity Digital is a leading software development company in
                India providing, offshore software development, outsourcing software development
                india, web development india, Offshore Application development, .net development
                india, Software Development, Multimedia and Design Solutions, Wap Development, Website
                Design and Development. We are customized process-driven software solutions provider
                based in India. Established in the year 2011, Santechsoft communications provides
                bespoke technological solutions to many entrepreneurs, enterprises and start up
                ventures, to help them gain maximum ROI for their business. Some of our clients
                include business from industry verticals like Traders, Retailers, Real-estate, multimedia,
                games young entrepreneurs.

            </p>
            <a ui-sref=".solution" class="btn btn-primary"> Solution</a>
            <a ui-sref=".service" class="btn btn-danger">Service</a>
            <a ui-sref=".technology" class="btn btn-primary"> Technology </a>
        </div>
        <div ui-view></div>
    </script>
    <script type="text/ng-template" id="partial-home-solution.html">
        <ul>
            <li ng-repeat="solution in solutions">{{ solution }}</li>
        </ul>
    </script>
    <script type="text/ng-template" id="partial-home-service.html">
        <ul>
            <li ng-repeat="service in services">{{ service }}</li>
        </ul>
    </script>
    <script type="text/ng-template" id="partial-home-technology.html">
        <ul>
            <li ng-repeat="technology in technologies">{{ technology }}</li>
        </ul>
    </script>


    <script type="text/ng-template" id="partial-about.html">
        <div class="jumbotron text-center">
            <h1>The About Page</h1>
            <p>This page demonstrates <span class="text-danger">multiple</span> and <span class="text-danger">named</span> views.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div ui-view="columnOne"></div>
            </div>
            <div class="col-sm-6">
                <div ui-view="columnTwo"></div>
            </div>
        </div>
    </script>
</body>
</html>